<section id="welcome-container">
    <h1>
        HELLO & WELCOME
    </h1>
    <div class="create-new">
                <a href="/home"><button type="button" >Home Page</button></a>
    </div>
</section>