@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');


* {
	box-sizing: border-box;
}

#login-container {
	display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: linear-gradient(135deg, #3f92c9,#4155ad);
}


.container{
    max-width: 550px;
    width: 100%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 5px;
}
.container .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
    margin: 6% auto auto 5%;
}

.container .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: linear-gradient(135deg, #3f92c9,#172e91);
}

.container form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;


}
form .user-details .input-box{
    width: calc(80%/2);
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}
form .user-details .wide{
    width: 90%;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.user-details .input-box input{
    height: 52px;
    width: 100%;
    outline: none;
    border-radius: 6px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
    border-color: #9b59b6;
}
::placeholder {
	color: #a0a7ac;

}

form .button{
    height: 52px;
    margin: 25px auto 20px auto;
}
form .button input{
    height: 100%;
    width: 90%;
    margin: auto auto auto 5%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    background: linear-gradient(135deg, #3f92c9,#172e91);

}
form .button input:hover{
    background: linear-gradient(-135deg, #3f92c9,#172e91);
}
form .create-new {
	height: 52px;
    margin: 25px auto 20px auto;
}
form .create-new button{
	height: 100%;
    width: 90%;
    margin: auto auto auto 5%;
    outline: none;
    color: rgb(50, 106, 228);
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
	border-color: rgb(50, 106, 228);
	background: linear-gradient(-135deg, #d8f0ff,#f7f7f7);
}


.errors{
    color: red;
    margin: 5px 0 5px 0;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2){
    form .create-new button{
        font-size: 15px;
    }
    #login-container{
        margin-top: 30px;
        height: 100vh;
    }
  }